.mentor-layout{
  display:flex;
  min-height:100vh;
  background:linear-gradient(135deg,#020617,#0f172a,#1e3a8a);
}

/* Sidebar */

.mentor-sidebar{
  width:240px;
  background:#020617;
  color:white;
  padding:25px 20px;
  display:flex;
  flex-direction:column;
}

.mentor-sidebar h2{
  margin-bottom:30px;
  font-weight:600;
}

.mentor-sidebar a{
  text-decoration:none;
  color:#cbd5f5;
  padding:12px 14px;
  border-radius:10px;
  margin-bottom:10px;
  transition:0.2s;
}

.mentor-sidebar a:hover{
  background:#1e293b;
}

.mentor-content{
  flex:1;
  padding:40px;
  color:white;
}

/* Logout */

.mentor-logout-btn{
  margin-top:auto;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#7f1d1d;
  color:white;
  cursor:pointer;
}

.mentor-logout-btn:hover{
  background:#991b1b;
}